{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block menu %}
<li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if not current_user.is_authenticated %}
    
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
    
          <li class="nav-item">
            <a class="nav-link" href="/account">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% endif %}
{% endblock %}

{%block content%}
<img src="{{ image_file }}" width="15%">
<br>
<br>

<br>
<span style="color: red"><i>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</i>
</span>
<br>
<span style="color: red"><i>
{% with messages = form.errors %}
  {% if "email" in messages %}
    {{ messages['email'][0] }}
  {% endif %}
  {% if "username" in messages %}
    {{ messages['username'][0] }}
  {% endif %}
{% endwith %}
</i>
</span>
<div style="width: 500px; clear: both;">
<form method="POST" action="{{ url_for('login_bp.account') }}" enctype="multipart/form-data">
	{{form.csrf_token}}
	<br>
	{{form.username.label}} &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;{{form.username(size=20)}}
	<br>
	{{form.email.label}}  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;{{form.email(size=20)}}
	<br>
	<br>
	{{form.picture.label}}  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;{{form.picture(size=20)}}
	<br>
	<br>
	<br>
	{{form.submit.label}}  &nbsp; &nbsp; &nbsp; &nbsp;{{form.submit()}}
	


</form>
</div>

{%endblock%}
