{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}
{% block menu %}
<li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if not current_user.is_authenticated %}
    
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
    
          <li class="nav-item">
            <a class="nav-link" href="/account">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% endif %}
{% endblock %}

{%block content%}
<h1>Login</h1>
<br>
<span style="color: red"><i>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</i>
</span>
<div style="width: 500px; clear: both;">
<form method="POST" action="{{ url_for('login_bp.login') }}">
	{{form.csrf_token}}
	<br>
	{{form.email.label}} &nbsp; &nbsp; &nbsp; &nbsp;{{form.email(size=20)}}
	<br>
	{{form.password.label}} &nbsp;{{form.password(size=20)}}
	<br>
	{{form.remember.label}} &nbsp; &nbsp; &nbsp; &nbsp;{{form.remember()}}
	<br>
	{{form.submit.label}}  &nbsp; &nbsp; &nbsp; &nbsp;{{form.submit()}}
	


</form>
</div>
{%endblock%}